/* 

#0a0908
#22333b
#c6ac8f
#5e503f

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1100px) {
  .wrapper > h1 {
    color: #0a0908;
    font-family: Lato;
    /* text-align: center; */
    margin-top: 10vh;
    font-size: 3em;
  }

  .wrapper > h2 {
    color: #22333b;
    font-family: Lato;
    /* text-align: center; */
    font-size: 1em;
  }

  .contentContainer {
    margin-top: 5vh;
    /* width: max-content; */
    width: 100%;
    padding-bottom: 3vw;

    background-color: #22333b;
    color: #eae0d5;
  }

  .contentContainer > h2 {
    font-family: Lato;
    margin-bottom: 5vh;

    text-align: center;
    text-transform: uppercase;
  }

  .avatar {
    border: 1px solid #eae0d5;
    border-radius: 10px;
  }

  .right {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
  .right span {
    color: white;
    font-size: large;
  }

  .playerData {
    display: flex;
    justify-content: center;
    column-gap: 35px;
  }

  .right > label {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}

@media only screen and (max-width: 1100px) {
  .wrapper > h1 {
    color: #0a0908;
    font-family: Lato;
    padding-top: 4vh;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .wrapper > h2 {
    color: #22333b;
    font-family: Lato;
    font-size: 15px;
  }

  .contentContainer {
    margin-top: 5vh;
    padding-top: 2vw;
    padding-bottom: 10vw;
    width: 100%;

    background-color: #22333b;
    color: #eae0d5;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentContainer > h2 {
    font-family: Lato;
    margin-bottom: 5vh;

    text-align: center;
    text-transform: uppercase;
  }

  .avatar {
    border: 1px solid #eae0d5;
    border-radius: 10px;
  }

  .playerData {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 35px;
  }

  .right {
    margin-top: 10vw;

    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .right span {
    color: white;
    font-size: large;
  }

  .right > label {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}
